name: MasterDeployCI
on:
  push:
    branches:
      - main
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v1
    - name: Zip Folder
      run: zip -r build/rydog.zip .

    - name: Upload artifact
      uses: actions/upload-artifact@v2
      with:
        name: ryan-dawg
        path: build/rydog.zip