name: MasterDeployCI
on:
  push:
    branches:
      - main
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v1
    - name: Create temp artifact folder
      run: mkdir temp-build
    - name: Build Zipfile
      run: |
          cd temp-build
          zip -r rydog.zip .

    - name: Upload artifact
      uses: actions/upload-artifact@v2
      with:
        name: ryan-dawg
        path: temp-build